body{
    display: flex;
    margin:0;
    flex-direction: column;
    font-size: 18px;
 }
 .section{
    display: flex;
    flex-direction: column;
    padding: 70px 160px;
    flex: 1;
 }

.section.middle{
    padding-left: 200px;
    padding-right: 200px;
    }

.dark{
    background-color: rgb(21, 1, 63);
    color: whitesmoke;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

}
 ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
.logo{
    font-family: "Times New Roman" serif;
    font-size: 24px;
    font-weight: 900;
}
h1,p{
    margin: 0;
    padding: 0;
}
.hero{
    font-size: 48px;
    font-weight:900;
}
img{
    flex: 1 1 auto;
}

.curve,
button{
    border-radius: 10px;
}
button{
    background-color: palevioletred;
    padding: 5px 20px;
    border-style: none;
    color: inherit;
    font-weight: bold;
}

.section.one{
    gap: 70px;
    justify-content: space-between;
    padding-top: 10px;
}
.half{
    display: flex;
    gap: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
    width: 100px;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}
.image-container{
    display: flex;
    width: 100px;
    flex: 1 1 auto;
}
.knife{
    width: 100px;
}


.section.two{
/*     align-items: center; */
    gap: 35px;
    padding-top: 35px;
}
h1{
    text-align: center;
    font-size: 36px;
}
.images{
    display: flex;
    gap: 20px;
    flex: 1 1 auto;
/*     justify-content: flex-end; */
}
.image-pair{
    display: flex;
    flex-direction: column;
    width: 100px;
    flex: 1 1 auto;

/*     align-items: stretch; */
    /* flex-wrap: wrap; */
}
/* .image-container{
    flex: 1 1 auto;
} */
.icon-image{
    border: 2px solid palevioletred;
    flex: 1 1 auto;
}
.text.center{
    /* width:100px; */
    text-align: center;
    flex: 1 1 auto;
}


.section.three{
/*     flex-direction: column; */
    background-color: whitesmoke;
}
.call-box{
    display: flex;
    flex-wrap: wrap;
    background-color: palevioletred;
    color: antiquewhite;
    padding: 25px 50px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.call-header{
    font-weight: bold;
}
.four button{
    border: 2px solid antiquewhite;
}

.quote{
font-style: italic;
font-size: 36px;
}
cite{
    font-weight: bold;
    align-self: flex-end;
}
.footer{
    padding: 20px;
    text-align: center;
/*     font-size: small; */
}
