body{
    display: flex;
    margin:0;
    flex-direction: column;
    font-size: 18px;
 }
 .section{
    display: flex;
    flex-direction: column;
    padding: 6vh 12vw;
    flex: 1;
 }
.section.middle{
    padding-left: 24vw;
    padding-right: 24vw;
 }
.dark{
    background-color: rgb(21, 1, 63);
    color: whitesmoke;
}
img{
    flex: 1 1 auto;
}
h1,p{
    margin: 0;
    padding: 0;
}
.curve{
    border-radius: 5px;
}
button{
    background-color: palevioletred;
    padding: 5px 20px;
    border-style: none;
    color: inherit;
    font-weight: bold;
}
.white{
    background-color: whitesmoke;
}

.section.one{
    gap: 70px;
    justify-content: space-between;
    padding-top: 10px;
}
.row{
    display: flex;
    gap: 6vw;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
 .header-links{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
.logo{
    font-family: "Times New Roman" serif;
    font-size: 24px;
    font-weight: 900;
}
.hero{
    font-size: 48px;
    font-weight:900;

}
.left{
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
    width: 100px;
    align-items: flex-start;
    justify-content: center;
    gap: 1vh;
}
.knife{
    width: 100px;
}

.section.two{
    gap: 3vh;
    padding-top: 3vh;
}
h1{
    text-align: center;
    font-size: 36px;
}
.images{
    display: flex;
    gap: 20px;
    flex: 1 1 auto;
    align-items: flex-start;
}
.image-pair{
    display: flex;
    flex-direction: column;
    width: 100px;
    flex: 1 1 auto;
}
.icon-image{
    border: 2px solid palevioletred;
    flex: 2 1 auto;
}
.text.center{
    text-align: center;
    flex: 1 1 auto;
}


.section.three{
    background-color: rgb(176, 141, 250);
}


.call-box{
    display: flex;
    flex-wrap: wrap;
    background-color: palevioletred;
    color: antiquewhite;
    padding: 25px 50px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.call-header{
    font-weight: bold;
}
.four button{
    border: 2px solid antiquewhite;
}
.quote{
font-style: italic;
font-size: 36px;
}
cite{
    font-weight: bold;
    align-self: flex-end;
}
.footer{
    padding: 20px;
    text-align: center;
}